#menu-burger {
    width: 75%;
    height: 100%;
    background-color: #252525;
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid white 1px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: 0.8s ease-in-out;
    -webkit-transition: 0.8s ease-in-out;
  }
  
  #menu-burger.isOpen {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  
  #menu-burger ul {
    margin-left: 10px;
  }
  
  #menu-burger ul li {
    margin: 10px 0;
  }
  #menu-burger ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  #btn-burger {
    position: absolute;
    right: 0;
    top:15px;
    cursor: pointer;
    margin: 15px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
  }
  
  #btn-burger.isWhite {
    background: white;
  }
  
  .barre {
    width: 30px;
    height: 4px;
    background: white;
    margin-bottom: 3px;
  }
  
  #div-to-close{
    position: fixed;
    height: 100%;
    width: 25%;
    left: 0;
    background: rgba(20,20,20,0.5);
    transition: 0.8s;
    transform: translateX(1000%);
    -webkit-transform: translateX(1000%);
    transition: 0.8s ease-in-out;
    -webkit-transition: 0.8s ease-in-out;
  }
  
  #div-to-close.isOpen {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
