nav{
    height: 7vh;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

#home{
    margin-left:10px;
    position: fixed;
    left:0;
}

#contact{
    margin-right:10px;
    position: fixed;
    right:0;
    cursor: pointer;
}

ul{
    display: flex;
}

li{
    margin: 0 10px;
}