#body {
  height: 50vh;
  background-color: #252525;
  border-top: white solid 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#cadre-picture {
  border: solid white 4px;
  display: inline-block;
  width: 15vw;
  height: 15vw;
  background-image: url(../../../assets/picture-recadred.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  top: -7.5vw;
  cursor: pointer;
  transition: 0.8s;
}

#languages {
  width: 40vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.language {
  background-color: #252525;
  color: white;
  height: 4vh;
  padding: 0 15px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: solid white 2px;
  transition: 0.3s;
}

.language:hover {
  background-color: #fff;
  color: black;
}

#cadre-languages {
  width: 100vw;
  position: relative;
  top: -7.5vw;
  display: flex;
  justify-content: center;
}

#bio {
  width: 100vw;
  position: relative;
  top: -7.5vw;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-style: italic;
}

#particles-js {
  position: fixed;
  width: 100%;
}

.arrow {
  width: 3vw;
  height: 3vw;
  position: fixed;
  background-color: rgba(25, 25, 25, 0.9);
  border-radius: 50%;
  border: solid white 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: 25.75vw;
  font-size: 1.2em;
  transition: 0.8s;
  cursor: pointer;
  z-index: 10;
}

.arrow:hover {
  color: black;
  background-color: white;
}

.arrow:hover::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  animation: ripple 2s linear infinite;
  border-radius: 50%;
  border: solid white 2px;
}

#right.arrow {
  right: 3vw;
}

#left.arrow {
  left: 3vw;
}

// Functions

@keyframes ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
