<div id="particles-js"></div>
<section id="body">
        <div id="cadre-picture"></div>
        <div id="bio">
            Antonain - {{age}} ans - Bordeaux
        </div>
        <div id="cadre-languages">
            <ul id="languages">
                <li class="language" *ngFor="let language of languages">
                    {{language.name}}
                </li>
            </ul>
        </div>

<!--         Only fixed elements -->
        <div class="arrow" id="right" [routerLink]="['../experiences']">></div>
        <div class="arrow" id="left" [routerLink]="['../projects']"><</div>

</section>

<!-- needfix: Hover color/language -->
