#body{
    background:url(../../../assets/img/HomepageWP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

app-side{
    position: fixed;
    top: 0px;
    right :0px;
    z-index: 15;
}
