#body{
    background:url(https://66.media.tumblr.com/1348b56917778dea9ab4d3aa5d8b2b01/tumblr_ox23xpb1y51t9x55so1_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

app-side{
    position: fixed;
    top: 0px;
    right :0px;
    z-index: 15;
}