
#body {
  height: 93vh;
  width: 100vw;
  background-color: red;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  width: 90vw;
  height: 90vh;
  overflow: auto;
  background-color: rgb(42, 42, 42);
  padding: 5vh;
}

.experience {
  background-color: #242425;
  margin-bottom: 3vh;
  border-radius: 20px;
  padding: 3vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.experience-container{
  width: 70%;
}

.experience-picture {
  width: 20%;
  height: 20vh;
  background-image: url(https://avatars2.githubusercontent.com/u/8874047?s=280&v=4);
  background-position: center;
  background-size: cover;
}

.experience .intitule {
  font-size: 2em;
}

.experience .place {
  font-size: 1.5em;
}

.experience .text{
    font-size: 1em;
    margin-bottom: 2vh;
}

.experience .usedTechnos{
  font-size: 1.2em;
}

.experience .intitule,
.experience .place {
  margin-bottom: 3vh;
}

a, a:visited{
  color: white;
  text-decoration: none;
}

.deadlink{
  cursor: initial;
}
