<app-navbar></app-navbar>
<app-side></app-side>

<section id="body">
  <div class="container">
    <a
      *ngFor="let experience of arrayExperiences"
      href="{{ experience.link }}"
      target="_blank"
    >
      <div class="experience">
        <div
          class="experience-container"
          [ngClass]="!experience.link ? 'deadlink' : ''"
        >
          <div class="intitule">{{ experience.intitule }}</div>
          <div class="place">{{ experience.place }}</div>
          <div class="text">{{ experience.text }}</div>
          <div class="usedTechnos">
            Techno(s) utilisée(s) : {{ experience.usedTechnos }}
          </div>
        </div>
        <div class="experience-picture"></div>
      </div>
    </a>
  </div>

  <div class="arrow" id="left-e" [routerLink]="['']"><</div>
</section>
