#body {
  height: 93vh;
  width: 100vw;
  background-image: url(https://lh3.googleusercontent.com/proxy/rH0T65-bAVhlMzR6b-fiVADXFt1CF0Cf_q4sm5zMuJlh69DYu8fH886xL44NpO8fmEQCSCyemh9L1LGKvmjX2TNMNOx1Fosy05cd5QE15zmlNpIvpiPzoymkiT_nZGSln8x4eeTvu2S8H7U);
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 20px;
  overflow: hidden;
  padding-top: 7vh;
}

#body h2 {
  height: 30vh;
  font-size: 2.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-shadow: -30px -17px 50px black, 30px 17px 50px black, 2px 2px 50px black, 2px 2px 75px black, 2px 2px 75px black;
  backdrop-filter: blur(8px);
}

app-navbar {
  position: fixed;
  width: 100vw;
}

#right-e {
  right: 1vw;
  opacity: 0;
  z-index: 10;
  background-color: brown;
}

#right-e:hover{
  color: white;
}
/* Arrow properties > style.css */
