<section id="modal-body">
  <div class="div-to-close" (click)="closeAppModal()"></div>
  <section id="appli-info-container">
    <p id="close-cross" (click)="closeAppModal()">X</p>
   <h2 id="appli-name"> {{showedApp().name}} </h2>

   <div>
     <img src="{{showedApp().img}}">
     <div id="app-details">
       <p class="app-detail"> {{showedApp().realisationTime}} </p>
       <p class="app-detail"> {{showedApp().dateOfRealisation}} </p>
       <p class="app-detail"> Technos utilisées </p>
       <ul id="app-techno-list">
       <li *ngFor="let techno of showedApp().usedTechnos">{{techno}}</li>
       </ul>
     </div>
    </div>

   <div id='button-container'>
   <button id="view-code-btn"><a href="{{showedApp().codeLink}}" target="_blank">View code</a></button>
   <button id="view-site-btn"><a href="{{showedApp().siteLink}}" target="_blank">View site</a></button>
   </div>
  </section>
</section>

